# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore environment variables file
.env

# Ignore npm debug file
npm-debug.log*

# Ignore operating system files
.DS_Store

# Ignore coverage folder
coverage/

# Ignore any build or distribution folders
dist/
build/
